errorhandling/src/main/mule/errorhandling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cfc78ea2-b10d-4019-86b4-6649d38be7df" >
		<http:listener-connection host="0.0.0.0" port="8077" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7fb44ea1-a003-47ed-8f74-7fc14cbc8425" />
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="52838f73-350c-43ac-b662-3b9df926f2f8" />
	<flow name="errorhandlingFlow" doc:id="3f8ee353-8bba-4bd3-84bc-f6a9819dd83a" >
		<http:listener doc:name="Listener" doc:id="3ca48ec5-7359-460b-a015-5e8b07c20516" config-ref="HTTP_Listener_config" path="/error1">
			<http:error-response >
				<http:body ><![CDATA[#[output text/json --- error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-variable value="apple" doc:name="apple" doc:id="94602506-0ae0-4e30-a16e-1a65920d6c68" variableName="fruit"/>
		<flow-ref doc:name="Flow Reference" doc:id="aaa7a209-7251-4bfd-b5bb-43e62e021c3b" name="errorhandlingFlow1"/>
		<ee:transform doc:name="success" doc:id="15584fb1-5dd6-4f64-8be1-62bd06c1f049" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"success"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ab2ae161-0059-4b25-879a-003891b760be" message="#[payload]"/>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b20fe27c-bbd0-4926-8630-472638564f82" >
				<logger level="INFO" doc:name="Logger" doc:id="a03e2c9e-b790-42a6-b3db-9f36a8b75051" message="error en flujo principal" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="errorhandlingFlow1" doc:id="32700829-5a83-42e8-9635-d1b7a616fbd5" >
		<http:request method="GET" doc:name="Request" doc:id="3cad9e47-bec1-4369-9c7f-fc1e8c3b449d" config-ref="HTTP_Request_configuration1" url="dedede"/>
		<ee:transform doc:name="Transform Message" doc:id="c07ecd1f-bcea-4486-8bd4-eaa68f75907d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"mensaje":"mensaje"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e907b230-ab45-4eb8-ab94-bf06289cbe33" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="de47050d-a6a9-4f23-b87d-29903010fc9e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"1":"errooor"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
