experience-api/src/main/mule/Consulta API.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="cfg_http_postman" doc:name="HTTP Listener config" doc:id="37dcb427-765a-4e61-8dfb-4332e55c836a" basePath="/">
		<http:listener-connection host="0.0.0.0" port="8088" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e49a0729-5543-49d0-aaaa-04deb7a0c9fa" basePath="/proceso">
		<http:request-connection host="localhost" port="8098" />
	</http:request-config>
	<configuration doc:name="Configuration" doc:id="9b97edc8-dcd3-4598-bed4-7616b60a66f7" defaultErrorHandler-ref="errorGlobalMioError_Handler" />
	<flow name="Consulta_APIFlow" doc:id="fae23b23-896c-42a6-bcfa-4172fb312c00" >
		<http:listener doc:name="Listener" doc:id="0c6abc1d-d81d-4482-98b6-6a7c22fd727a" config-ref="cfg_http_postman" path="obtenerPoke/{id}">
			<http:response >
				<http:body ><![CDATA[#[output application/json
---
{
	encabezado: {
		mensaje: payload.encabezado.mensaje,
		operacion: payload.encabezado.operacion,
		capa: vars.encabezado.capa
	},
	contenido: payload.contenido
}]]]></http:body>
			</http:response>
			<http:error-response >
				<http:body ><![CDATA[#[output application/json
---
{
	encabezado: {
		mensaje: payload.encabezado.mensaje,
		operacion: payload.encabezado.operacion,
		capa: payload.encabezado.capa
	},
	contenido: payload.contenido
}]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="5465b17e-e5e7-46a0-a3c6-fbf70cc56d10" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="encabezado.capa" ><![CDATA[%dw 2.0
output application/java
---
"experiencia"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger1" doc:id="b3334147-d019-4cb9-8cc6-caf99d6303c5" message='#[output application/json&#10;---&#10;{&#10;	mensaje: "Identificador de pokemón ingresado desde postman",&#10;	contenido: attributes.uriParams.id&#10;}]' />
		<http:request method="GET" doc:name="Request" doc:id="f1d3dc1f-1498-4c2f-a76c-0bb6892d94e4" config-ref="HTTP_Request_configuration" path="/exp/{id}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	id : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
