process-api/src/main/mule/proceso.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e91e25c0-5a33-488f-be27-f9f42382c04f" basePath="/proceso">
		<http:listener-connection host="0.0.0.0" port="8098" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1a2fb447-492f-485c-bc8a-2f4c1f09c985" basePath="/system-pokeapi">
		<http:request-connection host="localhost" port="8083" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="715a3060-ea42-4b34-8a27-c7aa5b79ebf7" basePath="/system-hr" >
		<http:request-connection host="localhost" port="8082" >
		</http:request-connection>
	</http:request-config>
	<configuration doc:name="Configuration" doc:id="29ab4564-4b68-420d-8e1c-2f9597268d21" defaultErrorHandler-ref="errorGlobalMioError_Handler" />
	<flow name="procesoFlow" doc:id="cb9b5aad-ba0d-4734-a0e3-cb227fc489cd" >
		<http:listener doc:name="Listener" doc:id="cad2b8e8-056a-454a-aea9-b80b90cbb2c5" config-ref="HTTP_Listener_config" path="/exp/{idPokeApi}">
			<http:error-response reasonPhrase="ban pika porfavor" statusCode="477">
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="892b32ea-79e1-40f7-8be5-0c61e031fa31" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="encabezado" ><![CDATA[%dw 2.0
output application/java
---
{
	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2d9b5c4b-121d-4440-a675-22e5299ff059" message='#[output application/json&#10;---&#10;{&#10;	mensaje: "Pokemon recibido de la capa de experiencia.",&#10;	contenido: payload&#10;}]'/>
		<validation:is-not-null doc:name="Is not null" doc:id="0d6baccb-bbd6-470c-abf1-952bbfa532ef" value="#[attributes.uriParams.idPokeApi]" message="#[URI VACIOOO]"/>
		<logger level="INFO" doc:name="Logger" doc:id="84753a02-e2f5-4c94-a82e-659b79cfee0f" message="#[attributes.uriParams.idPokeApi]"/>
		<choice doc:name="Choice" doc:id="7dcbc9aa-10ff-4887-a23d-7c35ac341917" >
			<when expression='#[attributes.uriParams.idPokeApi == "25" or attributes.uriParams.idPokeApi == "pikachu" or attributes.uriParams.idPokeApi == "PIKACHU"]'>
				<logger level="INFO" doc:name="Logger" doc:id="3849d9d5-ce22-40bc-a9d3-6ad57015ff65" message="error de pikachu" />
				<raise-error doc:name="Raise error" doc:id="ee5df116-480c-4a4e-8f3c-43254edbd6d6" type="BANEOS:PIKACHU" />
			</when>
			<when expression='#[attributes.uriParams.idPokeApi == " "]'>
				<logger level="INFO" doc:name="Logger" doc:id="f305929b-7b43-4994-8298-e52a1d5abb3a" message="PROCESO: URI VACIO LUL"/>
				<raise-error doc:name="Raise error" doc:id="41d53ccd-181a-472a-a8f6-07e46d7ba74c" type="PROCESO:URIVACIO"/>
			</when>
			<when expression='#[attributes.uriParams.idPokeApi == "DITTO" or attributes.uriParams.idPokeApi == "ditto" or attributes.uriParams.idPokeApi == "132"]'>
				<logger level="INFO" doc:name="Logger" doc:id="76c5a12e-9ed6-456b-ad28-291e5da2147b" message="se detecto ditto"/>
				<raise-error doc:name="Raise error" doc:id="c87d2b76-c3a0-4791-9394-791c875587bb" type="BANEOS:DITTO"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="9858a239-2727-44e9-b20a-a35e66e35826" message="no pikachu, to bien"/>
			</otherwise>
		</choice>
		<http:request method="GET" doc:name="Request" doc:id="cd1eb1a6-b7ef-4909-a0ec-2542ca4a0396" config-ref="HTTP_Request_configuration" path="/obtenerPokemon/{id}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	id : attributes.uriParams.idPokeApi
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="f6e09986-e4ae-4b4b-a3e2-49b758f238e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	base_experience: payload.base_experience,
	name: payload.name,
	ability: payload.abilities[0].ability.name
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="6cd0df1f-4e86-4db7-80f2-d3940a7038c6" config-ref="HTTP_Request_configuration1" path="/insert"/>
		<logger level="INFO" doc:name="Logger" doc:id="cb1a0bfe-e792-432b-ac4e-71121674c37e" message='#[output application/json&#10;---&#10;{&#10;	mensaje: "respuesta de system",&#10;	contenido: payload&#10;}]'/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="830badec-aa76-4633-aa10-553fdbf45d0a" type="BANEOS:PIKACHU">
				<ee:transform doc:name="Transform Message" doc:id="3e7bbe12-2471-49b2-89c6-a83964351b93">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
"ERRORTYPE":"error banPikachu"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="3270ee43-40e9-4f57-9cb3-8fa094c788f1" type="PROCESO:URIVACIO">
				<ee:transform doc:name="Transform Message" doc:id="874539bb-beda-4e88-94fb-3c0c41ae1c9f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/JSON
---
{
	"ERRORTYPE":"URIVACIO"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="50258f2b-6b1b-4e88-94f3-0a54470c785e" type="BANEOS:DITTO">
				<ee:transform doc:name="Transform Message" doc:id="4c00206f-811c-446d-a81e-c77ebc321e9d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/JSON
---
{
"ERRORTYPE":"noDitto"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="78219a02-ff2d-4ebe-87d8-e8faa9cc2309" type="HTTP:NOT_FOUND">
				<logger level="INFO" doc:name="Logger" doc:id="a33d687b-8a12-4780-b9fd-cd1cfdc60a20" message="NO ENCONTRO EL POKEMON, ERROR"/>
				<ee:transform doc:name="Transform Message" doc:id="afb45112-68de-4b23-9387-efc83206d11d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"ERRORTYPE":"Error en la capa de sistema"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="616eab94-3e3a-457f-bb0c-6d9393a292ba" type="HTTP:INTERNAL_SERVER_ERROR">
				<ee:transform doc:name="Transform Message" doc:id="37e6bac2-264d-42e4-9b1a-97dbd25471a9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/JSON
---
{
	mensaje: "Error",
	contenido: payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="28f05b37-3240-46ea-ba48-c1537b3f361c" message="#[payload]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
